{% extends "base.html" %}

{% block extra_js %}
<script type="text/javascript">
$( document ).ready( function() {
	$( '#searchSubmit' ).click( function() {
		q = $( '#q' ).val();
		$( '#results' ).html( '&nbsp;' ).load( '{% url demo_user_search %}?q=' + q );
	});
});

$( document ).ajaxStart( function() {
	$( '#spinner' ).show();
}).ajaxStop( function() {
	$( '#spinner' ).hide();
});
</script>
{% endblock %}

{% block title %}pyConTextKit{% endblock %}

{% block pagetitle %}Edit Extraction Criterion{% endblock %}
{% block content %}

<p><span font-size=11>{{ intro|safe }}</span>

<form action="" method="post">
{% csrf_token %}

<div style="width:40%;">
{{ dup|safe }}
</div>

<table>
{{ form }}
</table>
<input type="submit" name="submit" value="Submit" />
</form>

<div>

<p>Search for a sample report:
<p>Report ID: <input id="q" type="text"/>
<input id="searchSubmit" type="submit" value="Search"/>
<br/>
<div class="margin">
<span id="spinner"><img src="{{ MEDIA_URL }}spinner.gif"/></span>
</div>
</div>

<div id="results"></div>

{% endblock %}