{% extends "base.html" %}

{% block title %}pyConTextKit{% endblock %}

{% block pagetitle %}Upload CSV into SQLite Database{% endblock %}
{% block content %}
{% if status != '' %}
	{% autoescape off %}{{ status }}{% endautoescape %}
{% endif %}
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<table border="0">
		<tr>
    		<td><input type="file" name="csvfile" />
    		<br />Uploaded CSV files must follow <a href="#">Formatting guidelines</a></td>
    	</tr>
    	<tr><td></td></tr>
    	<tr>
    		<td><input type="submit" name="submit" value="Upload" /></td>
    	</tr>
    </table>
</form>

{% endblock %}